.features {
  text-align: center;
  padding: 50px 20px;
  background:linear-gradient(135deg, #8eeddd, #88a9f6);;
}

.features h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
}

.feature-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  max-width: 1000px;
  margin: 0 auto;
}

.card-mt {
  background: linear-gradient(135deg, #135dd4, #88e7f6);;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-g {
  background: linear-gradient(135deg,  #135dd4, #88e7f6);;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-pm {
  background: linear-gradient(135deg, #135dd4, #88e7f6);;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-cb {
  background: linear-gradient(135deg, #135dd4, #88e7f6);;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-g:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  background: #f2c5c5; /* highlight color */
}

.card-cb:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  background: #f2c5c5; /* highlight color */
}

.card-pm:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  background: #f2c5c5; /* highlight color */
}
.card-mt:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  background: #f2c5c5; /* highlight color */
}